%h1= @novel.title

%h2 Episodes
%ul
  - @novel.episodes.order(:number).each do |episode|
    %li
      = link_to episode.title, episode.ncode_syosetu_url
      - if episode.synthesized?
        %audio{ src: episode.mp3_download_url, controls: true }

%p Updated at #{@novel.updated_at}

%p
  = link_to "RSS", novel_path(@novel, format: :xml)

%p
  = link_to "Delete 「#{@novel.title}」", novel_path(@novel), method: :delete, data: { confirm: "Delete #{@novel.title}?" }
